﻿@model  uss.Models.ViewModels.ReservesViewModels

@{
    ViewBag.Title = "Editar";
}

<h2>Nueva Reserva</h2>

@using (Html.BeginForm("Editar", "Reserves", FormMethod.Post))
{
<div class="row">
    
    <div class="col-md-12">
        @Html.HiddenFor(d => d.sid)
        <div>
            @Html.LabelFor(d => d.sid)
            @Html.TextBoxFor(d => d.sid, "", new { @class = "form-control" })
            @Html.ValidationMessageFor(d => d.sid, null, new { @class = "rojo" })
        </div>
        <div>
            @Html.LabelFor(d => d.bid)
            @Html.TextBoxFor(d => d.bid, "", new { @class = "form-control" })
            @Html.ValidationMessageFor(d => d.bid, null, new { @class = "rojo" })
        </div>
        @Html.LabelFor(d => d.day)
        @Html.TextBoxFor(d => d.day, "", new { @class = "form-control" })
        @Html.ValidationMessageFor(d => d.day, null, new { @class = "rojo" })

        <br />

        <div style="text-align:right;">
            <input type="submit" value="Guardar" class="btn btn-primary" />
        </div>
    </div>
</div>
}