﻿@model List<uss.Models.ViewModels.ListReservesViewModels>
@{
    ViewBag.Title = "Datos Reservas";
}

<h2>Datos Reservas</h2>

<div class="row" style="text-align:right;padding:5px">
    <a href="~/Reserves/Nuevo" class="btn btn-primary">Agregar Reserva</a>
</div>
<div class="row">
    <div class="col-md-8">
        <table class="table">
            <tr>
                <td>BID</td>
                <td>SID</td>
                <td>Day</td>
                
                <td></td>
            </tr>
            @foreach (var oElemento in Model)
            {
                <tr>
                    <td>@oElemento.bid</td>
                    <td>@oElemento.sid</td>
                    <td>@oElemento.day</td>

                    <th>
                        <a class="btn btn-default" href="~/Reserves/Editar/@oElemento.sid">Editar</a>
                        <a class="btn btn-danger" href="~/Reserves/Eliminar/@oElemento.sid">Eliminar</a>
                    </th>
                </tr>
            }
        </table>
    </div>
</div>
