﻿@model  uss.Models.ViewModels.ReservesViewModels

@{
    ViewBag.Title = "Nuevo";
}

<h2>Nueva Reserva</h2>

@using (Html.BeginForm("Nuevo", "Reserves", FormMethod.Post))
{
    <div class="row">

        <div class="col-md-12">
            <div>
                @Html.LabelFor(d => d.bid)
                @Html.TextBoxFor(d => d.bid, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.bid, null, new { @class = "rojo" })
            </div>
            <div>
                @Html.LabelFor(d => d.sid)
                @Html.TextBoxFor(d => d.sid, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.sid, null, new { @class = "rojo" })
            </div>
            <div>
                @Html.LabelFor(d => d.day) <br/>
                @Html.EditorFor(d => d.day, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.day, null, new { @class = "rojo" })
                <br />
            </div>

            <div style="text-align:right;">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </div>
    </div>
}