﻿@{
    ViewBag.Title = "Sailors System";
}

    <div class="jumbotron">
        <h1>Sailor System <img src="https://cdn.shopify.com/s/files/1/0149/0749/products/The_Paper_Boat_4x_720x.png?v=1536482350" width="100" height="100" /> </h1>
        <p class="lead">Sistema de control CRUD para Marinos, Botes y sus Reservas.  </p>
    </div>