﻿@model List<uss.Models.ViewModels.ListSailorsViewModels>
@{
    ViewBag.Title = "Datos Sailors";
}

    <h2>Datos Sailors</h2>

    <div class="row" style="text-align:right;padding:5px">
        <a href="~/Sailors/Nuevo" class="btn btn-primary">Agregar Sailor</a>
    </div>
<div class="row">
    <div class="col-md-8">
        <table class="table">
            <tr>
                <td>SID</td>
                <td>Nombre</td>
                <td>Rating</td>
                <td>Edad</td>
                <td></td>
            </tr>
            @foreach (var oElemento in Model)
            {
        <tr>
            <td>@oElemento.sid</td>
            <td>@oElemento.sname</td>
            <td>@oElemento.rating</td>
            <td>@oElemento.age</td>
            <th>
                <a class="btn btn-default" href="~/Sailors/Editar/@oElemento.sid">Editar</a>
                <a class="btn btn-danger" href="~/Sailors/Eliminar/@oElemento.sid">Eliminar</a>
            </th>
        </tr>
            }
        </table>
    </div>
</div>

