﻿@model  uss.Models.ViewModels.SailorsViewModels

@{
    ViewBag.Title = "Nuevo";
}

<h2>Nuevo Sailor</h2>

@using (Html.BeginForm("Nuevo","Sailors",FormMethod.Post)) { 
<div class="row">

    <div class="col-md-12">
        <div>
            @Html.LabelFor(d => d.sname)
            @Html.TextBoxFor(d => d.sname, "", new { @class = "form-control" })
            @Html.ValidationMessageFor(d => d.sname, null, new { @class = "rojo" })
        </div>
        <div>
            @Html.LabelFor(d => d.sid)
            @Html.TextBoxFor(d => d.sid, "", new { @class = "form-control" })
            @Html.ValidationMessageFor(d => d.sid, null, new { @class = "rojo" })
        </div>
        @Html.LabelFor(d => d.age)
        @Html.TextBoxFor(d => d.age, "", new { @class = "form-control" })
        @Html.ValidationMessageFor(d => d.age, null, new { @class = "rojo" })
    <div>
        @Html.LabelFor(d => d.rating)
        @Html.TextBoxFor(d => d.rating, "", new { @class = "form-control" })
        @Html.ValidationMessageFor(d => d.rating, null, new { @class = "rojo" })
        <br />
    </div>
        <div style="text-align:right;">
            <input type="submit" value="Guardar" class="btn btn-primary" />
        </div>
    </div>
</div>
}