﻿@model  uss.Models.ViewModels.BoatsViewModels

@{
    ViewBag.Title = "Editar";
}

<h2>Nuevo Bote</h2>

@using (Html.BeginForm("Editar", "Boats", FormMethod.Post))
{
    <div class="row">

        <div class="col-md-12">
            @Html.HiddenFor(d =>d.bid)
            <div>
                @Html.LabelFor(d => d.bname)
                @Html.TextBoxFor(d => d.bname, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.bname, null, new { @class = "rojo" })
            </div>
            <div>
                @Html.LabelFor(d => d.bid)
                @Html.TextBoxFor(d => d.bid, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.bid, null, new { @class = "rojo" })
            </div>
            @Html.LabelFor(d => d.color)
            @Html.TextBoxFor(d => d.color, "", new { @class = "form-control" })
            @Html.ValidationMessageFor(d => d.color, null, new { @class = "rojo" })
              
                <br />
            
            <div style="text-align:right;">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </div>
    </div>
}