﻿@model List<uss.Models.ViewModels.ListBoatsViewModels>
@{
    ViewBag.Title = "Datos Boats";
}

<h2>Datos Botes</h2>

<div class="row" style="text-align:right;padding:5px">
    <a href="~/Boats/Nuevo" class="btn btn-primary">Agregar Bote</a>
</div>
<div class="row">
    <div class="col-md-8">
        <table class="table">
            <tr>
                <td>BID</td>
                <td>Boat Name</td>
                <td>Color</td>
                
                <td></td>
            </tr>
            @foreach (var oElemento in Model)
            {
                <tr>
                    <td>@oElemento.bid</td>
                    <td>@oElemento.bname</td>
                    <td>@oElemento.color</td>
                   
                    <th>
                        <a class="btn btn-default" href="~/Boats/Editar/@oElemento.bid">Editar</a>
                        <a class="btn btn-danger" href="~/Boats/Eliminar/@oElemento.bid">Eliminar</a>
                    </th>
                </tr>
            }
        </table>
    </div>
</div>
